{% extends "blog/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  {% for post in news %}
    <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|striptags|truncatechars:200 }}</p>
    <div class="row">
      <div>
        <img src="{{ post.avtor.profile.img.url }}" alt = "{{ post.avtor }}" class="user-images">
      </div>
      <div class="mt-2">
        <span class="test-muted"> Публикация: {{ post.date|date:"d E Y, в: H:i"}}</span>
            {% if post.autor %}
          <p><b>Автор:</b> {{ post.autor }}, </p>
            {% else %}
                <p><b>Автор:</b> <b>Admin</b> </p>
            {% endif %}
      </div>
    </div>
        <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-3">Читать далее</a>
    </div>
    {% endfor %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
        <a href="?page={{ page.obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <button class="btn btn-outline-danger">{{ num }}</button>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
    {% endif %}

{% endif %}
{% endblock %}
{% block aside_block %}
<h3>Бокавая часть</h3>
      <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
        используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
        заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
        новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и,
        в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
        в шаблонах которых используется Lorem Ipsum.</p>
      <h4 class="mt-2">Интересные статьи</h4>
      <img src="https://itproger.com/img/tasks/x1731654668.jpg.pagespeed.ic.yFZa_Nyh9r.webp" class="img-thumbnail">
      <p>Создание парсера новостей с веб-сайта на Python</p>
      <a href="https://itproger.com/tasks/sozdanie-parsera-novostey-s-veb-sayta-na-python" target="_blank">
        <button class="btn btn-warning">просмотреть</button>
      </a>
{% endblock %}


